<h1>Hi !</h1>

{{#if user}}
<p>Welcome {{user.username}}</p>

<a href="/logout">LOGOUT</a>

{{else}}

<p>Welcome Stranger</p>

{{/if}}


{{!-- {{#if slackUser}}
<p>Welcome {{profile.displayName}}</p>

<a href="/logout">LOGOUT</a>

{{/if}} --}}


<a href="/login">LOGIN</a>
<br /><br />
<a href="/signup">Create an account</a>
<br /><br />
<a href="/auth/slack">Login With Slack</a>

